.chat-app {
    height: 600px;
    font-family: fantasy;
}
.header {
    width: 100%;
    align-items: center;
    height: 10%;
    background-color: #253542;
    display: inline-block;
    vertical-align: top;
}
.title-conatiner {
    padding-left: 350px;
}
.logout {
    float: right;
    width: 25%;
    margin-top: 1.5%;
    text-align: right;
}
.chat-content {
    width: 100%;
    align-items: center;
    flex-flow: wrap;
    height: 90%;
    display: inline-block;
}
.user-list-container {
    background: black;
    width: 25%;
    height: 90%;
    color: antiquewhite;
    float: left;
}
.send-message {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    background-color: white;
    height: 10%;
}
input[type="send-message"] {
    width: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    position: relative;
    border: none;
    outline: none;
}
